__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.deps/
/pretrained_models/
/data/
third_party/RoboTwin/assets/
third_party/RoboTwin/eval_result/
third_party/RoboTwin/policy/mtwam_policy
*.egg-info/
build/
dist/
outputs/
runs/
wandb/
*.pt
*.pth
*.safetensors
.DS_Store
